<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add seller popup</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <section class="background">
        <div class="add-form">
            <h1>SELLER INFO</h1>
            <div>
                <div>
                    <div>
                        <span>Name:</span>
                        <input type="text">
                    </div>
                    <div>
                        <span>Username:</span>
                        <input type="text">
                    </div>
                    <div>
                        <span>Password:</span>
                        <input type="password">
                    </div>
                    <div>
                        <span>Email:</span>
                        <input type="text">
                    </div>
                </div>
                <div>
                    <img src="../images/no-profile.svg" alt="">
                    <button>Add profile picture</button>
                </div>
            </div>
            <button>ADD SELLER</button>
        </div>
    </section>
</body>
</html>