<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/list.css">
  <title>Dasboard Menu</title>
</head>

<body>
  <section class="body-part">
    <div class="top-bar">
      <div class="right">
        <span><img class="header-icon" src="../images/svg/amaze-svgrepo-com.svg"></span>
        <span id="nav-title">Customers</span>
      </div>
    </div>
    <table class="table">
      <tr>
        <th>NAME</th>
        <th>USERNAME</th>
        <th>ACTION</th>
      </tr>
    </table>
  </section>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="../javascript/api/clients_list.js"></script>
</body>
</html>