<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/clients_list.css">
  <title>Dasboard Menu</title>
</head>

<body>
  <section class="body-part">
    <table class="sellers-table">
      <tr>
        <th>NAME</th>
        <th>USERNAME</th>
        <th>PROFILE</th>
        <th>EDIT</th>
        <th>BAN</th>
      </tr>
      <tr>
        <td>Peter Saba</td>
        <td><i>@petersaba</i></td>
        <td><img src="../images/svg/profile-svgrepo-com.svg" alt=""></td>
        <td><i class="fa fa-pencil"></i></td>
        <td><i id="ban">Ban Client</i></td>
      </tr>
    </table>
  </section>
</body>

</html>