<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Dasboard Menu</title>
</head>
<body>
    <!-- start of dashboard menu -->
        <section class="sidebar">
                <div class="profile">
                    <!-- <img src="../favicon.ico" alt=""> -->
                    <div>
                        <p>Name</p>
                        <a>Username</a>
                    </div>
                </div>
                <div class="dashboard">
                    <!-- <img src="./person_1058396.png" alt=""> -->
                    <button id="dashboard">Dashboard</button>
                </div>
                <div class="customers">
                    <!-- <img src="./person_1058396.png" alt=""> -->
                    <button id="customers">Customers</button>
                </div>
                <div class="sellers">
                    <!-- <img src="./person_1058396.png" alt=""> -->
                    <button id="sellers">Sellers</button>
                </div>
        </section>
    <!--end of dashboard menu -->
        <section class="section2">
              <div class="top-bar">
                  <span id="nav-title">Statistics</span>
              </div>
              <iframe id="frame" src="statistics.html" frameborder="0"></iframe>
        </section>

        <!-- this is where the form will be shown to add or edit a seller -->
        <section class="background">
            <div class="add-form">
                <h1>SELLER INFO</h1>
                <div>
                    <div>
                        <div class="column-direction">
                            <span>Name:<span class="error" id="name-error"></span></span>
                            <input id="name-input" type="text">
                        </div>
                        <div class="column-direction">
                            <span>Username:<span class="error" id="username-error"></span></span>
                            <input id="username-input" type="text">
                        </div>
                        <div class="column-direction">
                            <span>Password:<span class="error" id="password-error"></span></span>
                            <input id="password-input" type="password">
                        </div>
                        <div class="column-direction">
                            <span>Email:<span class="error" id="email-error"></span></span>
                            <input id="email-input" type="text">
                        </div>
                    </div>
                    <div class="column-direction">
                        <img id="image-element" class="profile-picture" src="../images/no-profile.svg" alt="">
                        <label class="buttons green-background">
                            Edit profile picture
                            <input type="file" accept=".jpg, .png, .svg" id="image"/>
                        </label>
                    </div>
                </div>
                <button class="buttons other-background">EDIT SELLER</button>
            </div>
        </section>
        <script src="../javascript/edit-seller.js"></script>
        <script src="../javascript/dashboard.js" type="text/javascript"></script> 
</body>
</html>