<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <title>Dasboard Menu</title>
</head>
<body>
    <!-- start of dashboard menu -->
    <section class="sidebar">
            <div class="profile">
                <img src="../images/logo.png" alt="">
                <div>
                    <p>Name</p>
                    <a>Username</a>
                </div>
            </div>
            <div class="dashboard">
                <!-- <img src="./person_1058396.png" alt=""> -->
                <button>Dashboard</button>
            </div>
            <div class="customers">
                <!-- <img src="./person_1058396.png" alt=""> -->
                <button>Customers</button>
            </div>
            <div class="sellers">
                <!-- <img src="./person_1058396.png" alt=""> -->
                <button>Sellers</button>
            </div>
    </section>
<!--end of dashboard menu -->
    <section class="body-part">
          <div class="top-bar">
              Seller
          </div>
          <div class="add-seller-btn">
            <button><span><i class="fa fa-plus"></i></span> Add seller</button>
          </div>
          <table class="sellers-table">
            <tr>
              <th>NAME</th>
              <th>USERNAME</th>
              <th>PROFILE</th>
              <th>EDIT</th>
              <th>REMOVE</th>
            </tr>
            <tr>
              <td>Mohammad Kassem</td>
              <td>@mohamadkassemm</td>
              <td><img src="" alt=""></td>
              <td><i class="fa fa-pencil"></i></td>
              <td><i class="fa fa-trash-o"></i></td>
            </tr>
          </table>
    </section>
</body>
</html>