<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/list.css">
    <title>Dasboard Menu</title>
</head>

<body>
    <section class="body-part">
        <div class="top-bar">
            <div class="right">
                <span><img class="header-icon" src="../images/svg/amaze-svgrepo-com.svg"></span>
                <span id="nav-title">Sellers</span>
            </div>
            <button id="add-button" class="btn btn-head"><img src="../images/svg/add-svgrepo-com.svg">Add
                seller</button>
        </div>
        <table class="sellers-table">
            <tr>
                <th>NAME</th>
                <th>USERNAME</th>
                <th>ACTION</th>
            </tr>
            <tr>
                <td>Mohammad Kassem</td>
                <td>mohamadkassemm</td>
                <td colspan="3" class="actions">
                    <a href="" class="profile-icon"><img src='../images/svg/profile-svgrepo-com.svg'></a>
                    <a href="" class="edit-icon"><img src='../images/svg/edit-svgrepo-com.svg'></a>
                    <a href="" class="delete-icon"><img src='../images/svg/delete-svgrepo-com.svg'></a>
                </td>
            </tr>
        </table>
    </section>
    <script src="../javascript/seller_list.js"></script>
</body>

</html>