<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="best-container">
            <div class="best-seller">
                <h2>Best Seller</h2>
                <svg id="best-seller-pie" width="500" height="400"></svg>
            </div>
            <div class="top-client">
                <h2>Top Client</h2>
            </div>
        </div>
        <div class="totals">
            <div class="total-sellers"></div>
            <div class="total-products"></div>
            <div class="total-clients"></div>
        </div>
    </div>
    <script src="../javascript/statistics.js"></script>
</body>

</html>