<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="best-container">
            <div class="best-seller">
                <div class="best--header">
                    <h2>Best Seller</h2>
                    <!-- <select class="duration">
                        <option>Weekly</option>
                        <option>Monthly</option>
                        <option>Yearly</option>
                    </select> -->

                </div>
                <div class="best--body" id="best-seller--body">
                    <div class="week">
                        <h3>This Week</h3>
                        <div class="user-account">
                            <img src="" alt="">
                            <div class="account-details">
                                <span class="name">Asmaa Hamid</span>
                                <span class="username">@asmaa hamid</span>
                            </div>
                        </div>
                    </div>
                    <div class="month">
                        <h3>This Month</h3>
                        <div class="user-account">
                            <img src="" alt="">
                            <div class="account-details">
                                <span class="name">Asmaa Hamid</span>
                                <span class="username">@asmaa hamid</span>
                            </div>
                        </div>
                    </div>
                    <div class="year">
                        <h3>This Year</h3>
                        <div class="user-account">
                            <img src="" alt="">
                            <div class="account-details">
                                <span class="name">Asmaa Hamid</span>
                                <span class="username">@asmaa hamid</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-client">
                <div class="best--header">
                    <h2>Best Seller</h2>
                    <!-- <select class="duration">
                        <option>Weekly</option>
                        <option>Monthly</option>
                        <option>Yearly</option>
                    </select> -->

                </div>
                <div class="best--body" id="best-seller--body">
                    <div class="week">
                        <h3>This Week</h3>
                        <div class="user-account">
                            <img src="" alt="">
                            <div class="account-details">
                                <span class="name">Asmaa Hamid</span>
                                <span class="username">@asmaa hamid</span>
                            </div>
                        </div>
                    </div>
                    <div class="month">
                        <h3>This Month</h3>
                        <div class="user-account">
                            <img src="" alt="">
                            <div class="account-details">
                                <span class="name">Asmaa Hamid</span>
                                <span class="username">@asmaa hamid</span>
                            </div>
                        </div>
                    </div>
                    <div class="year">
                        <h3>This Year</h3>
                        <div class="user-account">
                            <img src="" alt="">
                            <div class="account-details">
                                <span class="name">Asmaa Hamid</span>
                                <span class="username">@asmaa hamid</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="totals">
            <div class="total-sellers"></div>
            <div class="total-products"></div>
            <div class="total-clients"></div>
        </div>
    </div>
    <script src="../javascript/statistics.js"></script>
</body>

</html>