<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/whishlist.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <title>Document</title>
</head>

<body>
     <!--start whishlist-->
 
     <section class="whishlist">
        <h5 class="top-products"> top 5 products</h5>
        <div class="whish-list">
            <div class="product-card">
                <p class="cancel"><img src="../images/svg/delete.svg" alt=""></p>
                <img src="../images/sellers-profiles/te1am632c9c6d5ae501.265128452022-09-22.jpeg" alt="">
                <div class="title">product title</div>
                <div class="price">price$</div>
                <div class="color">color</div>
                <div class="move-btn">Move to chart</div>
            </div>
            <div class="product-card">
                <p class="cancel"><img src="../images/svg/delete.svg" alt=""></p>
                <img src="../images/sellers-profiles/te1am632c9c6d5ae501.265128452022-09-22.jpeg" alt="">
                <div class="title">product title</div>
                <div class="price">price$</div>
                <div class="color">color</div>
                <div class="move-btn">Move to chart</div>
            </div>
           
            <div class="product-card">
                <p class="cancel"><img src="../images/svg/delete.svg" alt=""></p>
                <img src="../images/sellers-profiles/te1am632c9c6d5ae501.265128452022-09-22.jpeg" alt="">
                <div class="title">product title</div>
                <div class="price">price$</div>
                <div class="color">color</div>
                <div class="move-btn">Move to chart</div>
            </div>
            <div class="product-card">
                <p class="cancel"><img  src="../images/svg/delete.svg" alt=""></p>
                <img src="../images/sellers-profiles/te1am632c9c6d5ae501.265128452022-09-22.jpeg" alt="">
                <div class="title">product title</div>
                <div class="price">price$</div>
                <div class="color">color</div>
                <div class="move-btn">Move to chart</div>
            </div>
        
        
        </div>

     </section>
</body>
</html>
